{% extends '@email/default/notification/body.html.twig' %}

{%  block content %}

    <h2 style="text-align: center">Mailer - Web App</h2>
    <hr>
    <br>

    Id: {{ id }}<br />
    Name: {{ name }}<br />
    State: {{ state }}<br />

{%  endblock %}

{% block action %}

    <br>
    <button style="text-align: left; display: inline-block" href="{{ url }}">Modify</button>

{% endblock %}
