body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #898e8d;
    color: white;
    font-weight: bold;
}

table {
    font-size: 22px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    color: black;
}

table.List {
    width: 40%;
}

table.Transaction, th.Transaction {
    width: 30%;
}

table, td, th {
    border-style: solid;
}

th {
    background-color: #606060;
}

hr.black {
    border-top: 20px solid #333;
}

a {
    text-decoration: none;
    color: #333;
}

.centerText {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.centerText h1, .centerText h3{
    color: white;
}

.header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: #085c3d;
    color: white;
    font-size: 30px;
}

.header h1 {
    font-size: 40px;
}



.navbar {
    font-weight: bold;
    font-size: 15px;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #666;
}

div.inlineLeft {
    display: inline-block;
    text-align: left;
}

div.inlineRight {
    display: inline-block;
    float: right;
    text-align: right;
}

div.inlineBlock {
    display: inline-block;
}

button {
    border: none;
    border-radius: 8px;
    color: white;
    padding: 3px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
}

.box {
    display: flex;
}
.push {
    margin-left: auto;
}