body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #898e8d;
}

table {
    font-size: 22px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table, td, th {
    border-style: solid;
}

th {
    background-color: #606060;
}

hr.black {
    border-top: 20px solid #333;
}

a {
    text-decoration: none;
    color: #333;
}

.centerText {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.centerText h1, .centerText h3{
    color: white;
}

.header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: #137752;
    color: white;
    font-size: 30px;
}

.header h1 {
    font-size: 40px;
}



.navbar {
    font-weight: bold;
    font-size: 15px;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #666;
    color: white;
}

div.formFields {
    display: inline-block;
    text-align: left;
}

div.formSubmit {
    text-align: right;
}