{% block header %}
    <div class="header">
        <h1>{{ 'Web App' | trans }}</h1>
    </div>

    <div class="navbar">
        <a class="right" style="visibility: hidden">{{ 'LogOut'|trans }}</a>
        <a class="right" href="{{ path(app.request.get('referer')) }}">Back</a>
    </div>
{% endblock %}