{% block header %}
    <div class="header">
        <h1>Web-App</h1>
    </div>

    <div class="navbar">

        {% if app.request.get('_route') == "app_login"%}
            <a href="{{ path('app_login') }}" class="right active" id="toLogin">LogIn</a>
            <a href="{{ path('register') }}" id="toRegister">Register</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="right">LogIn</a>
            <a href="{{ path('register') }}" class="active">Register</a>
        {% endif %}

    </div>
{% endblock %}