{% extends 'baseLogged.html.twig' %}

{% block title %}Delete Item{% endblock %}

{% block body %}

    <div class="centerText">
        <h1>Delete this Item</h1>
    </div>

    <hr class="black">
    <br>

    <table>

        <tr>
            <th>Title</th>
            <th>Done</th>
            <th>CreatedAt</th>
        </tr>

        <tr>
            <td>{{ item.title }}</td>
            {% if item.done == 1 %}
                <td>Yes</td>
            {% else %}
                <td>No</td>
            {% endif %}
            <td> {{ item.createdAt | date('Y-m-d h:i:s')}}</td>
        </tr>

    </table>

    <div class="centerText">

        <br><br>

        <form method="post" action="{{ path('delete-item-id', { 'id': item.id }) }}">
            <div class="inlineLeft"><button type="submit">Delete</button></div>
        </form>

    </div>

{% endblock %}
