<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/styleTwig.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>

         {{ render(path('headerLogged')) }}

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/activeLogged.js') }}" type="text/javascript"></script>
        {% endblock %}
    
    </body>
</html>
