{% block errorFlash %}
    <div class="centerText">
        {% for message in app.flashes('success') %}
            <br>
            <h3>
                {{ message }}
            </h3>
        {% endfor %}

        {% for message in app.flashes('fail') %}
            <br>
            <h3>
                {{ message }}
            </h3>
        {% endfor %}
    </div>
{% endblock %}